$lineGray           : #CCCCCC;

$textGray           : #333333;
$textWhite          : #FFFFFF;

$bgWhite            : #FFFFFF;
$translucentWhite   : rgba(white, 0.3);

$themeAll           : #777777;
$themeAllLight      : #E5E7E9;
$themeAllBackground : #F8F9F9;
$theme1             : #F39C12;
$theme1Light        : #FAD7A0;
$theme1Background   : #FEF5E7;
$theme2             : #E74C3C;
$theme2Light        : #F5B7B1;
$theme2Background   : #FDEDEC;
$theme3             : #8E44AD;
$theme3Light        : #D2B4DE;
$theme3Background   : #F4ECF7;
$theme4             : #3498DB;
$theme4Light        : #AED6F1;
$theme4Background   : #EBF5FB;
$theme5             : #1ABC9C;
$theme5Light        : #A3E4D7;
$theme5Background   : #E8F8F5;
